<div class="jumbotron">
    <form action=@Url.Action("Upload") method="post" enctype="multipart/form-data">
            <input type="file" class="file" id="image-data" name="file" id="file" />
    </form>
</div>

@* @Scripts.Render("~/bundles/filePreviewer") *@
