html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    font-family:  Arial, sans-serif;
    font-size: 16px;
}
.wrapper {
    height: 100%;
    position: relative;
}
.sidebar {
    width: 275px;
    height: 100%;
    background-color: rgb(34, 34, 34);
    display: inline-block;
    position:fixed;
    transition: .15s margin-left;
}
.sidebar.toggle {
    margin-left: -220px;
    transition: .15 margin-left;
}
.sidebar-list {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}
.sidebar-brand a {
    text-decoration: none;
    background-color: #1a1a1a; 
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
}
.sidebar-brand:hover a {
    background-color: #000;
    transition-property: background-color;
    transition: .15s;
}
.list-item  a{
    text-decoration: none;
    border-top: 1px solid #373737;
    border-bottom:  1px solid #1a1a1a;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
}
.list-item:hover a {
    border-left: 4px solid rgba(255, 193, 7, 0.6);
    color: rgba(211, 158, 0, 0.6);
    background-color: rgba(26, 26, 26, 0.6);
}
.list-item.active a {
    border-left: 4px solid #ffc107;
    color: #d39e00;
    background-color: #1a1a1a;
}
.list-item.active-always a {
    border-left: 4px solid #ffc107;
    color: #d39e00;
    background-color: #1a1a1a;
}
.sub-icon {
    font-size: 18px;
}

.content {
    padding-left: 275px;
    transition: .15s padding-left;
}
.content.toggle {
    padding-left: 55px;
    transition: .15s padding-left;
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .content {
        padding-left: 0px;
    }
}

.mb-5 {
    margin-bottom: 5rem;
}